html{
  border-top: solid 6px #006a50;
}

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  margin: 0 auto 0;
  font-family: sans-serif;
  color: white;
  background: #234;
}

header {
  height: 54px;
  background: #234;
}

header img {
  top: 0;
}

#body {
  width: 100vw;
  height: 100vh;
  background: lightblue;
}

#button {
  position: absolute;
  width: 60px;
  height: 60px;
  border: 0;
  border-radius: 100%;
  box-shadow: none;
  background: red;
}
#button::-moz-focus-inner {
  border: 0;
}

#game {
  background: #22454b;
}

#stats {
  width: 100%;
  height: 30px;
  line-height: 30px;
  text-align: center;
}

#map {
  position: relative;
  width: 100vw;
  height: calc(100vh - 90px);
}

#mapBg {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* header */
header {
  display: block;
  width: 100%;
  margin: 0 auto;
  line-height: 60px;
  text-transform: uppercase;
  text-align: center;
  font-family: monospace;
  font-size: 36px;
  color: white;
  overflow: hidden;
  background: transparent;
}
header img {
  position: absolute;
  left: 0;
}
a.header:hover { text-decoration: none; }

.profiles a img:hover {
  background: #567;
}

.links a {
  display: block;
}
